
<%= cl_image_tag @team.team_picture, height: 300, width: 400, crop: :fill %>

<h2><%= @team.title.capitalize %>
<p><b>Start time: </b><%= @team.start_date %></p>
<p><b>End time: </b><%= @team.end_date %></p>
