/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
 @import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC:900');

 .imginhome {
   position: relative;
   width: 100%; /* for IE 6 */
 }


.answer-title h1 {
  font-family: 'Playfair Display SC', serif;
  font-size: 30px;
  color: #575D91;
}




 h5 {
  font-family: 'Playfair Display SC', serif;
  font-size: 90px;
  color: #575D91;
  line-height: 72px;
  font-style: bold;
  position: absolute;
  top: -84px;
  left: -6px;
  width: 100%;
}

.bigasscontent h4 {
  font-family: 'Playfair Display SC', serif;
  font-size: 90px;
  color: #575D91;
  line-height: 80px;
  font-style: bold;
  position: absolute;
  top: -136px;
  left: 65px;
  width: 100%;
}

.bigasscontent {
  padding: 120px 0 120px 0;
}

.bigasscontent p {
  color: #575D91;
  line-height: 15px;
  font-size: 13px;
  position: absolute;
  top: 14px;
  right: 0;
}

.bluecontainer {
  border-style: solid;
  border-color: #516DAC;
  border-width: 1px;
  padding: 15px;
  color: #575D91;
  margin-bottom: 30px;
  border-radius: 2px;
}

.textinside {
  padding: 5px;
}


.offsetting-1 p {
  top: 349px;
}

.offsetting-2 p {
  top: 73px;
}

.offsetting-3 h5 {
  top: 30px;
  margin-top: -191px;
}

.offsetting-4 p {
  top: 256px;
}

.offsetting-5 h4 {
  top: 131px;
}
