  <div class= "container">
  <div class="row">
    <div class="col-xs-9 left-card">
          <h2><%= member.team.title %></h2>


        <% if policy(member.team).show? %>

          <%= link_to "", team_path(member.team.id), class: "card-link" %>

        <% end %>

    </div>
    <div class="col-xs-3 delete-card">
        <% if policy(member.team).destroy? %>
        <i class="fa fa-trash" aria-hidden="true"></i>

          <%= link_to "", team_path(member.team), method: :delete, class: "card-link" %>
        <% end %>
    </div>
  </div>
</div>
