  <div class="row">
    <div class="col-xs-10">
      <div class="card">
          <h2><%= member.team.title %></h2>


        <% if policy(member.team).show? %>

          <%= link_to "", team_path(member.team.id), class: "card-link" %>

        <% end %>

      </div>
    </div>
    <div class="col-xs-2">
      <div class="delete-card">
        <% if policy(member.team).destroy? %>
          <%= link_to "Delete", team_path(member.team), method: :delete %>
        <% end %>
      </div>
    </div>
  </div>
