<div class="footer text-center">
<ul class="list-inline">
    <li><i class="icons fa fa-2x fa-youtube" aria-hidden="true"></i></li>

    <li>
      <a href=https://www.instagram.com/tripin.contact <i class="icons fa fa-2x fa-instagram" aria-hidden="true"></i>
      </a>
    </li>

    <li>
      <a href=https://www.facebook.com/profile.php?id=100014558021234
      <i class="icons fa fa-2x fa-facebook" aria-hidden="true"></i>
     </a>
    </li>

    <li> <a href=https://twitter.com <i class="icons fa fa-2x fa-twitter" aria-hidden="true"></i></a></li>
  </ul>

  <ul class="list-inline footer-text">
    <p>Terms of Use | Privacy Policy | Contact Us | About Us</p>
  </ul>
</div>
