<div class="footer text-center">
<ul class="list-inline">
    <li><i class="icons fa fa-2x fa-youtube" aria-hidden="true"></i></li>
    <li><i class="icons fa fa-2x fa-instagram" aria-hidden="true"></i></li>
    <li><i class="icons fa fa-2x fa-facebook" aria-hidden="true"></i></li>
    <li><i class="icons fa fa-2x fa-twitter" aria-hidden="true"></i></li>
  </ul>

  <ul class="list-inline footer-text">
    <p>Terms of Use | Privacy Policy | Contact Us | About Us</p>
  </ul>
</div>
