<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(https://static.pexels.com/photos/2029/landing-stage-sea-holiday-vacation.jpg);">

  <div class="banner-content">
    <br/>
    <br/>
    <br/>
    <br/>

    <%= image_tag "welcometag.png", width: '300' %>
    <section class="cd-intro" style="padding-top: -20px">
      <h1 class="cd-headline letters type">
        <span class="cd-words-wrapper waiting text-center">
          <b class="is-visible">BRUSSELS</b>
          <b>PARIS</b>
          <b>BALI</b>
          <b>SEOUL</b>
          <b>TAIPEI</b>
          <b>OSLO</b>
          <b>TALINN</b>
        </span>
      </h1>
    </section>
    <%= link_to "Let's go !",  new_team_path, class: "btn-blanc" %>


  </div>
</div>
<div class="container">
 <div class="row">
  <div class="col-xs-12 col-sm-6">

    <div class="bigasscontent">
      <h5>WHAT IS TRIPIN?</h5>
      <p>Tripin is a mobile application that proposes a list of challenges to help you discover a city !
        You will even win some discounts !</p>
      </div>
      <div class="bigasscontent">

       <h5>HOW IT WORKS</h5>
       <p>You just need to choose the city you are going to visit and create a team to get a list of challenges to accomplish.</p>
     </div>
     <div class="bigasscontent">

      <h5>WHAT DO YOU GET?</h5>
      <p>When you succeed in accomplishing a challenge you can get free gifts or discounts at shops, museums, bars, restaurants and many other places !</p>
      <h5>Try it !</h5>

    </div>




    Who are we ?
    <p>A bunch a people who love travelling and gaming. Don’t hesitate to contact us, even if you just want to say hello <%= image_tag "Smiling_Emoji_with_Eyes_Opened.png", width: "20" %></p>

    Are you a business ?
    If you business is relevant to our app concept we will be happy to discuss including your place into one of our challenge ! Send us an email at : ….

  </div>
</div>
</div>
