<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://media.giphy.com/media/l0Hluda00DO60uIFi/source.gif');">
  <div class="banner-content">
    <h1>tripin</h1>
    <p>Dare to discover?</p>
    <a><%= link_to "Start Journey",  new_team_path, class: "btn btn-primary btn-lg" %></a>
  </div>
</div>
