<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <h1 class="text-center">Your challenges</h1>

      <% @team_challenges.each do |challenge| %>
      <%= render "card", challenge: challenge %>

      <% end %>
      <%= link_to 'Go Back', team_path(@team) %>
    </div>
  </div>
</div>
<br>
<br>

