<h1>Challenges List</h1>
<% @team_challenges.each do |challenge| %>
<ul>
  <li>
    <%= challenge.title %> <%= challenge.score %> <%= Answer.where(team_id: @team.id && challenge_id: challenge.id) %>
  </li>
</ul>
