.btn-medium {
  color: #516DAC;
  border: 2px solid #516DAC;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: transparent;
}

.btn-medium:hover,
.btn-medium:focus {
  opacity: 1;
  text-decoration: none;
}

.btn-blue {
  color: #516DAC;
  border: 2px solid #516DAC;
  padding: 3px 14px;
  border-radius: 3px;
  margin-top: 15px;
}

.btn-blue:hover,
.btn-blue:focus {
  opacity: 1;
  text-decoration: none;
}

.btn-white {
  color: #FDF5E9;
  border: 2px solid #FDF5E9;
  padding: 3px 14px;
  // border-radius: 50px;
  margin-top: 15px;
  font-weight: bold;
}

.btn-white:hover,
.btn-white:focus {
  text-decoration: none;
  color: #999999;
}

.btn-blanc {
  color: #FDF5E9;
  border: 2px solid #FDF5E9;
  padding: 7px 34px;
  border-radius: 3px;
  margin-top: 15px;
  font-weight: bold;
}

.btn-blanc:hover,
.btn-blanc:focus {
  text-decoration: none;
}

.btn-clear {
  border-style: none;
  background-color: none;
}
