.card {
  height: 125px;
  // text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  color: black;
  position: relative;
  background-color: white;
  border-radius: 3px;
  margin-bottom: 5px;
}

.card-completed {
  height: 125px;
  // text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  color: black;
  position: relative;
  background-color: #E6E6E6;
  border-radius: 3px;
  margin-bottom: 5px;
}

.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 10px;
  text-transform: uppercase;
}
.card-description {
    position: absolute;
    bottom: 0px;
    left: 10px;
}
.card-description h2 {
  font-size: 22px;
}
.card-description p {
  font-size: 9px;
  }
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}
.card-link:hover{
  opacity: 0.1;
}

.bottom-right {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.bottom-left {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.upper-right {
  position: absolute;
  top: 5px;
  right: 10px;
}

.delete-card {
  height: 125px;
  background-color: white;
  margin: 10px 0 10px 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  padding: 40px 0;
}

.delete-card-outdate {
  height: 125px;
  color: #9E9E9E;
  background-color: #E6E6E6;
  margin: 10px 0 10px 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  padding: 40px 0;
}

.left-card {
  height: 125px;
  background-color: white;
  margin: 10px 0 10px 0;
  padding: 10px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.left-card-outdate {
  height: 125px;
  color: #9E9E9E;
  background-color: #E6E6E6;
  margin: 10px 0 10px 0;
  padding: 10px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.avatar-link{
  position: absolute;
  z-index: 1;
}

.team-score{
  position: absolute;
  top: 33px;
  right: 0;
  margin-right: 10px;
  color: #516DAC;
}
