.yellow-back{
  background-color: #FDC945;
  color: white;
  min-height: 65vh;
  background-size: cover !important;
  // position: relative;
  padding: 70px 15px 15px 15px;
  margin: -70px auto auto;
}

.countdown {
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 20px;
}

.countdown h2 {
  font-size: 60px;
  margin-top: 0;
  margin-left: 0;
}

.countdown p {
  margin-left: 20px;
  margin-bottom: 0px;
}

.challenge-top {
  // margin: 20px;
}

.cross-back {
  top: 380px;
  right: 0;
  margin-right: 9px;
  text-decoration: none;

  a {
    &:hover {
      text-decoration: none;
    }
  }
}

.cross-challenge{
  top: 382px;
  right: 0;
  margin-right: 9px;
  text-decoration: none;
  position: absolute;
}

.cross-challenge:hover {
  text-decoration: none;
}

.challenge-score {
  color: white;
  width: 100px;
  top: -20px;
  font-weight: 900;
  position: absolute;

  h3 {
    position: relative;
  }
}

.challenge-score h3 {
  font-size: 30px;
}

.challenge-score span {
  font-size: 15px;
  top: 25px;
  left: 40px;
  position: absolute;
  color: #C4C4C4;
}


.picture-challenge {
  border-style: solid;
  border-width: 1px;
  border-color: #4F66AA;
  top: 0;
  position: absolute;
  max-width: 100%;
  height: auto;
  z-index: -3;
  padding-top: -70px;
}


.challenge-content {
  margin: 20px;
  border-radius: 3px;
  padding: 20px;
  position: relative;
  margin-top: 80px;
}

.challenge-content h2 {
}

.score-circle {
  border-radius: 80px;
  width: 80px;
  height: 80px;
  background-color: #516DAC;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 116px;
  right: 144px;
  z-index: 4;
}

.modal-content h4{
  color: #526EA8;
  font-size: 15px;

}

.modal-content h3{
  color: #526EA8;
  font-size: 15px;

}

.modal-content p{
  color: #526EA8;
  font-size: 15px;

}


.p-inline {
  p {
    display: inline-block;
  }
}
.p-inline {
  display: inline-block;
}



.typo_white {
  color: white;
}


