.content-show {
  margin: -120px 30px 30px 30px;
  background-color: white;
  border-radius: 3px;
}

.content-again {
  padding: 20px;
  h2 {
    margin-top: 50px;
    font-family: 'Playfair Display SC', serif;
    font-size: 20px;
  }
  p {
    font-size: 18px;
  }
}

.back-arrow {
  height: 10px;
  text-align: right;
}

.back-arrow a {
  z-index: 2000;
  text-align: right;
}

.content-link {
  padding-right: 20px;
  padding-left: 20px;
  font-size: 10px;
  display: block;
  font-weight: 900;
  background-color: #696A96;
  color: white;
}

.content-link h3 {
  font-size: 10px;
  font-weight: 100;
  opacity: 0.5;
  letter-spacing: 1px;
  padding-left: 10px;
}

.input-things {
  background-color: #555B8E;
}

.btn-show {
  background-color: #3C3D72;
  color: white;
  border: none;
}

.imgbackground {
  height: 300px;
  margin-top: -70px;
}

.inliner {
  display: flex;
  justify-content: center;
}

.inside {
  padding-right: 0px;
  padding-left: 10px;
}

.bottom-space {
  margin-bottom: 75px;
  padding-left: 15px;
  padding-right: 15px;
}

.btn-picture {
  background-color: #555B8E;
  color: white;
  padding-bottom: 15px;
}


#answer_picture {
  display: none;
}

.bigger {
  font-size: 15px;
  font-weight: 800;
}

.sup {
  font-size: 52%;
}

[data-cuteselect-options] {
  z-index: 1000;
}

.panel-maps {
  margin-top: 10px;
  margin-bottom: 10px;
}

.bottoms-up {
  margin-bottom: 20px;
}

.pushtothetop {
  margin-top: -50px;
}
