.bigtext h1 {
  font-size: 18px;
  color: #516DAC;
  font-weight: bold;
  line-height: 22px;
}

.bigcontainer {
  padding: 30px;
  margin-top: 20px;
  margin-bottom: 40px;
}

.needspace {
  padding-top: 110px;
}

.needlilspace {
  padding-top: 40px;
}

.pushtotheright {
  padding-left: 50px;
}

.bigcontainer h2 {
  font-size: 18px;
  color: #516DAC;
  font-weight: bold;
  line-height: 22px;
}
