.styled-input-white {
  * {
    // margin: 0;
    // padding: 0;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
  }

  /* Select style here */

  .disable-form-control {
  border: none;
  box-shadow: none;
  transition: all .2s;
  border-radius: 0px;
  }

  select {
    margin: 0 auto;
    color: #3C3D72;
    width: 310px;
    padding: 15px;
    height: 50px;
    cursor: pointer;
    background-color: url(http://sharpik.com/wip/cuteselect/arrow.png) 295px 12px no-repeat transparent  !important;
  }

  select:hover {
    background-color: transparent;
    color: #3C3D72;
    padding: 15px 5px 15px 25px;
  }

  select option {
    background-color: white;
    color: #3C3D72;
    width: 310px;
    padding: 10px 15px;
    height: 45px;
    cursor: pointer;
  }

  select option:hover {
    padding-left: 25px;
    width: 270px;
    color: #3C3D72;
  }

  color: white !important;
  background-color: #555B8E !important;
}
