/* Footer design */
.footer {
  background-color: #516DAC;
  color: #FDF5E9;
  padding-bottom: 20px;
  padding-top: 20px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}

.icons {
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.icons:hover {
  color: white;
  transition: 300ms;
}
