//Input Styles
p.input-container {
  width: 100%;
  position: relative;
  top: 50px;
  margin-bottom: 25px;

}

.input-container {
  label {
    color: #CCC;
    position: absolute;
    cursor: text;
    transform: translateY(-25px);
    transition: transform 0.3s ease;
    left: 0;
    bottom: -15px;
  }

  input {
    width: 100%;
    height: 40px;
    font-size: 16px;
    transition: 0.6s;
    border: none;
    border-bottom: 1px solid #CCC;
    background-color: transparent;
    &:focus {
      outline: none;
      border-bottom: 1px solid #3C3D72;
    }
  }

  //Input Animation Styles

  textarea {
    width: 100%;
    height: 40px;
    font-size: 16px;
    transition: 0.6s;
    border: none;
    border-bottom: 1px solid #CCC;
    background-color: transparent;
    &:focus {
      outline: none;
      border-bottom: 1px solid #3C3D72;
    }
  }


}

  .animation label {
    transform: translateY(-55px);
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 600;
  }

  .animation-color label {
    color: #3C3D72;
  }

#team_team_picture {
  border: 1px solid black;
  display: none;
}

.bottomspace {
  margin-bottom: 60px;
}
