.team-picture{
  height: 230px;
  margin: -70px -15px 0 -15px;
  background-size: cover !important;
  overflow: hidden;
  zoom: 1;
}

.team-picture-size {
  height: 230px;
  width: 100%;
}

.white-block{
  color: blue;
  background-color: white;
  width: 100%;
  padding: 15px;
  overflow: hidden;
  zoom: 1;
}

.teammate {
  background-color: violettresclair;
  width: 100%;
  padding: 15px;
  overflow: hidden;
  zoom: 1;
}

.members-team{
  padding-left: 10px;
  margin-top: 20px;
}

.members-team h3{
  padding-left: 27px;
  margin-top: 20px;
  color: #565C8B;
  font-size: 20px;
}

.white-block p {
  font-size: 15px;
}

.white-block h2 {
  font-size: 25px;
  font-weight: bold;
}

.white-block h3 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}

.inline-team {
  justify-content: center;
  display: flex;
  -webkit-box-pack: center;
}

.inline-team p {
  font-size: 15px;
}

.member {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-top: 10px;
  text-align: center;
}

.team-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 13px;
  width: 100%;
  background: grey;
  opacity: 0;
}
.team-link:hover,
.team-link:focus{
  opacity: 0;
}

.teammate-pic {
  padding-left: 23px;
}
.members-picture{
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.button-team p {
  color: white;
  font-size: 14px;
  padding-top: 10px;

}

.add-member {
  height: 50px;
  font-size: 50px;
  color: grey;
  font-weight: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-width: 1px;
}

.add-member:hover {
  text-decoration: none;
}

.team-text-grey {
  color: grey;
}

.card-link-challenge {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}

.card-link-challenge p {
  font-size: 12px;
}

.card-link-answer p {
  font-size: 12px;
}
.card-link-answer {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}

.teamscore {
  font-size: 15px;
  color: #696992;

}

.cross-challenge-team {
  top: 6px;
  right: -21px;
  margin-right: 26px;
  text-decoration: none;
  position: absolute;
}

.answer-btn {
  background-color: #696992;
}

.challenge-btn {
  background-color: #565C8B;

}
