.inlininginfos {
  display: flex;
  justify-content: center;

  p {
    padding: 0px 10px;
    font-size: 13px;
  }
}

.teamcontent h3{
  font-size: 10px;
}

.teamcontent {
  padding: 40px;
}

.topspace {
  margin-top: 80px;
}


.liltopspace {
  margin-top: 20px;
}


.top-card h3 {
  font-size: 15px;
  color: #516DAC;
}

.top-card p {
  font-size: 15px;
}
