
<div class="row">
  <div class="col-xs-7">
    <%@cities.each do |cit| %>
    <p><%= image_tag cit.picture, height: 50, width: 150, crop: :fill %> - <%= cit.name %></p>
    <% end %>

  </div>
</div>
