<h1>Where do you want to go</h1>

<div class="row">
  <div class="col-xs-7">
    <%@cities.each do |cit| %>
    <p><%= image_tag cit.picture, height: 50, width: 150, crop: :fill %> - <%=link_to cit.name, city_path(cit.id) %></p>
    <% end %>

  </div>
</div>
